//-- NAVIGATION BAR --//
nav {
	background-color: white;
	width: 100%;
	height: auto;
	position: fixed;


	ul {
		list-style-type: none;
		width: 100%;
		height: 0px;
	}
}


//-- MENU LARGE SCREEN --//
.menu-lrg-screen {
	height: 0px;

	li {
		float: left;

		a{
			display: block;
			border-right: 1px solid grey;
			padding: 10px;
			text-align: center;
			font-size: 12px;
			transition: all 0.3s ease-in-out;
			width: 94px;

			&:link, &:visited {
				color: black;
			}

			&:hover, &:active {
				color: white;
				background-color: black;
			}

		}
	}
}

//--- SUBMENU LARGE SCREEN STARTS HERE ---//
//-- STYLING --//
.submenu-lrg-screen {
	display: none;

	li {
		float: none;
		background-color: white;
		border-bottom: 1px solid black;

		&:first-child {
			border-top: 1px solid black;
		}
	}
}

//-- HIDE/SHOW ON HOVER --//
.menu-lrg-screen {

	li {


		&:hover {

			.submenu-lrg-screen {
				display: block;
			}
		}
	}
}
//--- SUBMENU LARGE SCREEN ENDS HERE ---//





//-- BREAKPOINTS --//
@media only screen and (max-width: 630px) {
	.menu-lrg-screen {
		display: none;
	}
	.submenu-lrg-screen {
		display: none;
	}

	.burger-menu {
		display: inline-block;
	}
}

