//-- MENU SMALL SCREEN --//
.menu-sml-screen {
	display: none;
	overflow: hidden;
	height: auto;
	position: relative;

	li {

		a {
			display: block;
			width: 100%;
			border-bottom: 1px solid white;
			padding: 19px 14px;
			background-color: black;
			font-size: 12px;
			transition: all 0.3s ease-in-out;

			&:link, &:visited {
				color: white;
			}

			&:hover, &:active {
				color: black;
				background-color: white;
			}
		}
	}
}


// -- SMALL MENU CONTAINER --//
.sml-menu-container {
	background-color: black;
	overflow: hidden;
}


//-- BURGER MENU ICON --//
.burger-menu {
	display: none;
	font-size: 12px;
	padding: 10px;
	border: 1px solid black;
	transition: all 0.3s ease-in-out;

	&:hover {
		cursor: pointer;
		color: white;
		background-color: black;
	}

}


//-- SUBMENU LARGE SCREEN STARTS HERE --//
.go-back-icon {
	margin-right: 5px;
}

.submenu-sml-screen {
	overflow: hidden;
	height: auto;
	display: block;
	position: absolute;
    top: 34px;
    left: 100%;

	li {

		a {
			display: block;
			width: 100%;
			border-bottom: 1px solid white;
			padding: 19px 14px;
			background-color: black;
			font-size: 12px;
			transition: all 0.3s ease-in-out;

			&:link, &:visited {
				color: white;
			}

			&:hover, &:active {
				color: black;
				background-color: white;
			}
		}
	}
}

//-- SUBMENU LARGE SCREEN ENDS HERE --//

//-- TRANSITION FX --//
.slideOut {
	left: 100% !important;
	display: none !important;
	transition: all 0.5s ease-in-out;
}

.slideIn {
	left: 0% !important;
	display: block !important;
	transition: all 0.5s ease-in-out;
}