
@import 'vendor/font-awesome';

@import 'utils/variables';
@import 'utils/helpers';
@import 'utils/mixins';

@import 'base/reset';
@import 'base/base';
@import 'base/color';
@import 'base/animations';
@import 'base/typography';

@import 'layout/header';
@import 'layout/navigationSml';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/forms';
@import 'layout/sidebar';
@import 'layout/grid';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/dropdown';
@import 'components/slider';
@import 'components/cover';
@import 'components/thumbnails';

@import 'pages/home';
@import 'pages/contact';

